@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white-color: #ffffff;
}
body {
    font-family: 'Arial, Verdana, Helvetica';
    width: 100%;
    background: #8401FE; background: -webkit-linear-gradient(left, #8401FE, #080169); background: -moz-linear-gradient(left, #8401FE, #080169); background: linear-gradient(to right, #8401FE, #080169);
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
h1, h2, a, h4, h5, h6, p {
    display: inline-block;
    font-weight: 300;
    color: white;
    margin: 1rem 0 1rem 0;

}
.heading {
    font-size: 32px;
}
/* end common style */

#home .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.collection {
    width: 50%;
    flex: 1;
    margin-top: 1.5rem;
}
.lead {
    max-width: 600px;
    font-weight: 400;
    color: white;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
}
.musicbox {
    margin-top: 1rem;
}
.musicbox ul li h3{
    color: #15253a;
    font-weight: 400;
}
.hor {
    margin: 1rem 0 1rem 0;
    max-width: 500px;
    background-color: #c7d8fc;
}
.playbox {
    flex: 1;
    margin: 0.5rem auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 10px 10px 10px lightblue;
    background: #4A2AAB; background: -webkit-radial-gradient(top left, #4A2AAB, #41BAAC); background: -moz-radial-gradient(top left, #4A2AAB, #41BAAC); background: radial-gradient(to bottom right, #4A2AAB, #41BAAC);
}
nav {
    display: block;
    margin: 3rem auto;
}
ul li{
    list-style: none;
    display: inline;
    margin: 1rem;
    padding: 1rem;
}
ul li button {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--white-color);
    transition: all 300ms;
}
ul li a:hover {
    background-color: #c7d8fc8c;
}
.controller {
    margin: 2.5rem auto;
    width: 100%;
    max-width: 400px;
    min-height: 500px;

}
.circle {
    width: 250px;
    height: 250px;
    background-color: #222427;
    border-radius: 50%;
    margin: 2rem auto;
    display: flex;
    border: 3px solid #37b0d8;
    border-top: 3px solid #0254ec;
   
}
.circle2 {
    align-self: center;
    display: flex;
    margin: auto;
    
}
.circle2 .fluid-img{
    border-radius: 50%;
    align-self: center;
    margin: auto;
}

#song-name{
    color: conic-gradient(from 315deg, #626369, #B54A9B);
    font-weight: 400;
}
.circle.animate {
    animation: anticlock 6s infinite linear;
}
.circle2.animate {
    animation: clockwise 6s infinite linear;
}
.media-btn {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    margin: 1rem;
}
@keyframes anticlock {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}
@keyframes clockwise {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@media (max-width: 900px) {
    #home .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .collection {
        width: 90%;
        flex: 1;
        margin: 1.5rem auto;
    }
    .playbox {
        flex: 1;
        width: 90%;
    }
}
.card-body {
    width: 100%;
    max-width: 550px;
    min-height: 100vh;
    background-color: #c7d8fc8c;
    margin: 1rem auto;
    border-radius: 8px;
}
.card-body nav{
    margin: 0;
    padding-top: 2rem;
    text-align: center;
}
.card-body .about{
    padding: 1rem;
}
.about .center {
    text-align: center;
}


ul
{
    border: 0px solid;
    background: #4A2AAB; background: -webkit-radial-gradient(top left, #4A2AAB, #41BAAC); background: -moz-radial-gradient(top left, #4A2AAB, #41BAAC); background: radial-gradient(to bottom right, #4A2AAB, #41BAAC);
    border-radius: 20px;
    margin-right: 20px;
}


summary
{
    color: white;
    text-align: center;
}

summary:hover {
    border: 0px solid;
    border-radius: 10px;
    background-color: #c7d8fc8c;
}

img
{
    border-radius: 200px;
}


.comp {
    margin: 2.5rem auto;
    min-height: 580px;
}

li{
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}


dd
{
    color: green;
}



#grid
{
  display: inline-block;
  border: 0px solid;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#myInput
{

  border-radius: 10px;
  width: 280px;
  height: 30px;
  text-align: center;
  border-color: #7600C2;
  background: #2E2E2E;
  color: #C2007F;
  font-size: 15px;

}

span
{
    padding: 30px;
}


.img
{
  border-radius: 50%;
  width: 100%;
  max-width: 63px;
  height: 70px;

}

h3
{
    color: white;
    text-decoration: none;
}


p
{
    font-size: 24px;
}
